/* import font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
/* BootStrap Root */
:root{
    --bs-font-sans-serif: "Noto Sans",system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",  "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* body */

.body-background-img{
    background-image: url(./img/Mask\ Group\ 20.png);
}

/* header */
.header-background-img{
    height: 340px;
    background-image: url(./img/網頁刊頭-無字.png);
    background-size: cover;
    background-position: 65% 0;
}
/* intro */
.intro-section{
    max-width: 1000px;
}
.btn.btn-pink{
    width: 225.31px;
    background-color: #F88A8A;
    box-shadow: 0px 3px 10px #772405;
    border-radius: 18px;
    color: white;
}
.btn.btn-pink:active{
    border-color: #F88A8A;
    color: #F88A8A;
}
/* carousel */
.carousel-indicators [data-bs-target] {
    margin: 0 5px;
    height: 9px;
    width: 9px;
    border-radius: 100%;
    background-color: #A7A0A0;
    position: relative;
    top: 50px;
    border: none;
}

.carousel-indicators>li.active {
    background: #FFB03A;
}
